.navbar2 {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 80px;
    
    background-color: #1dc5e9;
    background-image:
      linear-gradient(
        to top right, 
        #1dc5e9, #1de9be
      );
}

.navbar2 .col {
    height: 100%;
}

.navbar2 .col.left {
    width: 260px;
}

.navbar2 .col.right {
    width: calc(100% - 260px);
}

.navbar2 .col .title {
    color: white;
    font-family: 'opensans-light';
    font-size: 26px;
    color: white;
    line-height: 80px;
    display: block;
    text-align: center;
    text-decoration: none;
}

.navbar2 .col .section-title {
    color: white;
    font-family: 'opensans-light';
    font-size: 18px;
    color: white;
    line-height: 80px;
    margin-left: 60px;
}

.navbar2 .col .avatar {
    background-image: url('/img/icon_avatar.png');
    background-position: center left;
    background-repeat: no-repeat;
    background-size: contain;
    width: 45px;
    height: 45px;
    margin: 18px 60px;
}