.sidebar {
    position: relative;
    width: 260px;
    height: calc(100% - 80px);
    background-color: #eee;
    -webkit-box-shadow: 4px 0px 5px 0px rgba(204,204,204,1);
    -moz-box-shadow: 4px 0px 5px 0px rgba(204,204,204,1);
    box-shadow: 4px 0px 5px 0px rgba(204,204,204,1);    
    overflow: hidden;
}

.sidebar .menu {
    width: 100%;
}

.sidebar .menu .menu__item {
    position: relative;
    display: block;
    height: 70px;
    line-height: 70px;
    color: #aaa;
    font-family: 'opensans-light';
    text-decoration: none;
    font-size: 16px;
    padding: 0 40px;
}

.sidebar .menu .menu__item:after {
    content: '';
    display: block;
    width: 8px;
    height: 14px;
    background-image: url('/img/icon_arrow-right.png');
    background-position: center;
    background-repeat: no-repeat;

    position: absolute;
    top: 50%;
    right: 40px;
    margin-top: -7px;
    transition: all .3s ease-in-out;
}

.sidebar .menu .menu__item.dropdown.opened:after {
    transform: rotate(90deg);
}

.sidebar .menu .menu__item:hover, .sidebar .menu .menu__item.active {
    background-color: #1dc5e9;
    color: #fff;
}