.login {
    position: relative;
    width: 100%;
    height: 100vh;
    
    background: url('/img/background.png') center no-repeat;
    background-size: cover;
}

.login .box {
    width: 400px;
    background-color: white;
    border-radius: 4px;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0 0 35px black;
}

.login .box .title {
    display: block;
    width: 100%;
    height: 80px;
    line-height: 80px;

    color: white;
    font-size: 26px;    
    text-align: center;
    font-family: 'opensans-light';

    background-color: #1dc5e9;
    background-image:
      linear-gradient(
        to top right, 
        #1dc5e9, #1de9be
      );
}

.login .box .form {
    padding: 45px 45px 0 45px;
}

.login .box .form .line {
    position: relative;
    width: 100%;
    height: 60px;
    overflow: hidden;

    margin-top: 25px;
}

.login .box .form .line:first-child {
    margin-top: 0;
}

.login .box .form .lbl {
    font-family: 'opensans-regular';
    font-size: 16px;
    color: #a0a0a0;
    z-index: 1;

    position: absolute;
    left: 0;
    top: 23px;
    transition: all .2s ease-in-out;
}

.login .box .form .text {
    position: relative;
    display: block;
    width: 100%;
    color: #202224;
    font-size: 16px;
    border-bottom: 1px solid #a0a0a0;
    height: 35px;
    padding: 0 4px;

    position: absolute;
    left: 0;
    bottom: 0;
}

.login .box .form .active-line {
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: 2;
    background-color: #1dc5e9;

    display: block;
    width: 0%;
    height: 1px;
    transition: all .2s ease-in-out;
}

.login .box .form .line.active .lbl {
    color: #1dc5e9;
    top: 0;
    font-size: 12px;
}

.login .box .form .line.active .active-line {
    width: 100%;
}

.login .box .form .button {
    display: block;
    width: 200px;
    height: 55px;
    margin: 40px auto 0;
    color: white;
    font-family: 'opensans-light';
    font-size: 11px;
    text-transform: uppercase;
    border-radius: 5px;
    letter-spacing: 2px;
    cursor: pointer;
}

.login .box .form .button.gradient-green {
    background-color: #1dc5e9;
    background-image:
      linear-gradient(
        to top right, 
        #1dc5e9, #1de9be
      );
}

.login .box .forgot-password {
    display: block;
    text-align: center;
    margin: 30px 0 45px;
    font-family: 'opensans-light';
    font-size: 14px;
    color: #1dc5e9;
    text-decoration: none;
}