html, body {
    display: block;
    width: 100%;
    height: 100%;
    min-height: 100%;
    margin: 0;
    padding: 0;

    text-rendering: optimizeLegibility !important;
    -webkit-font-smoothing: antialiased;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.004);
    backface-visibility: hidden;
    line-height: normal;
    overflow: hidden;

    box-sizing: border-box;
}

body.hidden-scroll { overflow: hidden; }

.clearfix:after {
    content: '';
    display: table;
    clear: both;
}

input {
    border: none;
    outline: none;
}

.left { float: left; }
.right { float: right; }

.wrapper {
    height: 100%;
    min-height: 100%;
    position: relative;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 2%;
    overflow: hidden;
}

.wrapper.no-hidden {
    overflow: visible;
}

.right-content {
    width: calc(100% - 260px);
    float: right;
}

.content {
    position:  relative;
    width: calc(100% - 260px);
    height: calc(100% - 80px);
    overflow-y: auto;
}

.center-buttons-list {
    position: relative;
    overflow: hidden;
    width: 350px;

    position: absolute;
    top: 50px;
    left: 50%;
    transform: translate(-50%);
}

.center-buttons-list .button-item {
    display: block;
    width: 100%;
    height: 80px;
    border-radius: 2px;
    box-shadow: 0 0 30px rgba(0, 0, 0, .25);
    text-align: center;
    line-height: 80px;
    color: white;
    text-decoration: none;
    margin-bottom: 20px;
    font-family: 'opensans-light';
    font-size: 22px;

    background-color: #eee;
    background-image:
      linear-gradient(
        to top right, 
        #1dc5e9, #1de9be
      );
}

.center-buttons-list .button-item:nth-child(odd) {
    float: left;
}

.center-buttons-list .button-item:nth-child(even) {
    float: right;
}

.fix-space {
    padding: 50px 70px;
}

.main-list {
    position: relative;
    width: 100%;
}

.main-list .list-item-header {

}

.main-list .list-item-header,
.main-list .list-item {
    overflow: hidden;
    display: block;
    width: 100%;
    height: 70px;
    line-height: 70px;
    border-bottom: 1px solid #1dc5e9;
    color: #333;
    font-family: 'opensans-light';
    font-size: 14px;
    cursor: pointer;
}

.main-list .list-item-header {
    cursor: default;
}

.main-list .list-item-header .col {
    font-size: 18px;
}

.main-list .list-item-header .col,
.main-list .list-item .col {
    float: left;
    width: 33.33%;
    text-align: center;
}

.main-list .list-item-header .col:first-child,
.main-list .list-item .col:first-child {
    text-align: left;
}

.form {
    position: relative;
}

.form .line {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 65px;
    border-bottom: 1px solid #ddd;
    margin-top: 30px;
}

.form .line:first-child {
    margin-top: 0;
}

.form .line .lbl {
    color: #1dc5e9;
    font-size: 14px;
    font-family: 'opensans-light';
    position: absolute;
    top: 0px;
    left: 0;
}

.form .ipt-text {
    display: block;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 45px;
    font-size: 15px;
}

.form .ipt-text.select {
    border: none;
    outline: none;
}

.buttons-list {
    text-align: right;
    margin-top: 50px;
    overflow: hidden;
}  

.buttons-list .buttons-list__item {
    display: inline-block;
    padding: 15px 40px;
    background-color: #eee;
    background-image:
      linear-gradient(
        to top right, 
        #1dc5e9, #1de9be
      );
    color: white;
    text-decoration: none;
    border-radius: 4px;
    font-family: 'opensans-light';
    font-size: 15px;
    margin-left: 10px;
    border-color: transparent;
}

.buttons-list .buttons-list__item.remove {
    float: left;
    height: 50px;
    line-height: 15px;
    background-color: transparent;
    background-image: none;
    color: #AD3319;
    padding: 0;
    outline: none;
    cursor: pointer;
}

.buttons-list .buttons-list__item.remove:hover {
    text-decoration: underline;
}
.scroll{
    overflow: scroll;   
}

.top-buttons {
    position: relative;
    width: 100%;
    overflow: hidden;
    margin-bottom: 30px;
}

.top-buttons .top-buttons__item {
    display: inline-block;
    padding: 15px 40px;
    background-color: #eee;
    background-image:
      linear-gradient(
        to top right, 
        #1dc5e9, #1de9be
      );
    color: white;
    text-decoration: none;
    border-radius: 4px;
    font-family: 'opensans-light';
    font-size: 15px;
    border-color: transparent;
}

.button-generic {
    display: inline-block;
    padding: 15px 40px;
    background-color: #eee;
    background-image:
      linear-gradient(
        to top right, 
        #1dc5e9, #1de9be
      );
    color: white;
    text-decoration: none;
    border-radius: 4px;
    font-family: 'opensans-light';
    font-size: 15px;
    border-color: transparent;
    margin: 10px 0;
}